body{
    background-color: #1f364b;
}


.landing-page-container{
    top: 50px;
}


.landing-page-text{
    width: 82%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
}

.landing-page-text h2{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-size: 3rem;
}

.subscribe-now-text{
    color: #fdc11f;
    font-size: 3.1rem;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
}

.landing-page-text p{
    width: 93%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}

.form-row form{
    width: 82%;
}

.svg-image {
    top: 33px;
    right: 104px;
    width: 70%;
}

.landing-page-icons{
    width: 103%;
}


.send-btn{
    color: #20364b;
    font-weight: bold;
}


/*------------------------ Media Query ------------------------ */

@media screen and ( width > 1400px) {
    .svg-image {
        top: 33px;
        right: 104px;
        width: 70%;
    }
    .landing-page-icons {
        width: 53%;
    }
}

@media screen and ( 1201px < width < 1400px) {
    .svg-image{
        top: 33px;
        right: 104px;
        width: 70%;
    }
    .landing-page-icons {
        width: 103%;
    }
}

@media screen and ( width < 1201px) {
    .svg-image{
        top: 128px;
        right: 104px;
        width: 67%;
    }
    .landing-page-icons {
        width: 104%;
    }
}

@media screen and ( width < 992px) {
    .svg-image{
        top: 33px;
        right: 142px;
        width: 70%;
    }
    .landing-page-icons {
        width: 105%;
    }
}

@media screen and ( width < 768px) {
    .svg-image{
        top: 33px;
        right: 104px;
        width: 70%;
    }
    .landing-page-icons {
        width: 105%;
    }
}

@media screen and ( width < 576px) {
    .svg-image{
        top: 33px;
        right: 104px;
        width: 70%;
    }
    .landing-page-icons {
        width: 100%;
    }
}

@media screen and ( width < 564px) {
    .svg-image{
        top: 33px;
        right: 104px;
        width: 70%;
    }
    .landing-page-icons {
        width: 100%;
    }
}

@media screen and ( width < 509px) {
    .svg-image{
        top: 29px;
        right: 94px;
        width: 66%;
    }
    .landing-page-icons {
        width: 100%;
    }
}

@media screen and ( width < 450px) {
    .svg-image{
        top: 29px;
        right: 94px;
        width: 66%;
    }
    .landing-page-icons {
        width: 100%;
    }
}


@media screen and ( width < 430px) {
    .svg-image{
        top: 29px;
        right: 92px;
        width: 66%;
    }
    .landing-page-icons {
        width: 100%;
    }
}


@media screen and ( width < 402px) {
    .svg-image{
        top: 25px;
        right: 80px;
        width: 66%;
    }
    .landing-page-icons {
        width: 100%;
    }
}

@media screen and ( width < 367px) {
    .svg-image{
        top: 25px;
        right: 80px;
        width: 66%;
    }
    .landing-page-icons {
        width: 98%;
    }
}


@media screen and ( width < 351px) {
    .svg-image {
        top: 38px;
        right: 75px;
        width: 60%;
    }
    .landing-page-icons {
        width: 98%;
    }
}
